@import '../../../../../../assets/colors.scss';

.omv-dark-theme{
  omv-setupwizard-drive-user-datatable-page{

        #mainContainer{
              scrollbar-color:$lightblue transparent;
              h1,h2,h3{color:$lightblue !important;}
              p,li{color:#ffffff !important;}
              .plainLink:hover,.plainLink:focus{
                  background-color:$lightblue;           
              }
          }
       
          
          #navButtons{
              .mat-card{
                    background-color:$lightblue!important;
              }
              .mat-card-actions{
                    button{
                      border:1px solid #ffffff!important;
                    
                    }
                    button:hover,button:focus{
                      background-color:#ffffff!important;
                      color:$lightblue!important;
                    }
              }
          }
          
         
    }
  }   

omv-setupwizard-drive-user-datatable-page{
  omv-top-bar-wizard .omv-top-bar{
    background:transparent!important;
    position: absolute;
    left:80vw;
  }
  omv-logo-header{
    position:fixed;
    height:20vh;
    top:0;
    left:0;
    z-index:100;
  }

  #mainContainer{
              margin-top:20vh;
              overflow-y:auto;
              height:70vh;     
              scrollbar-color:#ffffff transparent;
              --scrollbar-border-radius: 0 !important;
              --scrollbar-thumb-color:red !important;
              --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color) !important;

              #drive-users-form1{
                margin-bottom:-3rem;

                .omv-form-paragraph{
                    padding:2rem;
                    line-height:1.5rem;
                  }

              }
              
                  .omv-form-paragraph,h2,p,li,h3 {
                    font-size: var(--mat-font-size-subheading-2) !important;
                  }
                  .omv-form-paragraph,p,li {
                    font-size: var(--mat-font-size-subheading-2) !important;
                    font-weight:var(--mat-font-weight-subheading-2) !important;
                  }
                  h1{
                    font-size: var(--mat-font-size-headline) !important;
                  
                  }
            
                  h2,h1,h3 {
                    color:$blue;
                  }
                  li {
                    margin-bottom: 10px;
                  }
                
                .plainLink{
                  font-weight:bold;
                }
                .plainLink:hover,.plainLink:focus{
                  background-color:$lightblue;
                  color:white;
                  padding:10px;
                  text-decoration: none;
                  font-weight:bold;
                }
  }

 

  #navButtons{
            position:fixed;
            width:100%;
            bottom:0;
          
            .mat-card{
                background-color:$blue!important;
            }
            mat-card-content{
                display:none!important;
            }
            .mat-card-actions{
                justify-content:space-between!important;
                flex-direction:row-reverse!important;
                button{
                  border:1px solid #ffffff!important;
                
                }
                button:hover,button:focus{
                  background-color:#ffffff!important;
                  color:$lightblue!important;
                }
            }
            @media screen and (max-width: 768px) {
              .mat-card-actions{
                flex-direction:column-reverse!important;
                align-items:center!important;
                justify-content:center!important;
                row-gap:20px;
              }
            }
    } 
  
}



