@import '../../../../../../assets/colors.scss';

omv-setupwizard-drive-user-datatable-page{
  omv-top-bar-wizard .omv-top-bar{
    background:transparent!important;
    position: absolute;
    left:80vw;
}
  omv-logo-header{
    position:fixed;
    height:20vh;
    top:0;
    left:0;
    z-index:100;
  }

  #drive-users{
    .mat-card{
      margin-top:12rem;
    }
  }
  #datatable-users{
    .mat-card{
      position:relative;
      z-index:1;
    }
  }
  .omv-form-paragraph {
    font-size: var(--mat-font-size-subheading-2) !important;
  }
  #drive-users omv-form-paragraph:nth-of-type(2) .omv-form-paragraph
  {
    content: url('^./assets/images/Drive-shares.png')!important;
    background-size: cover !important;
    background-position: center !important;
    width: 55% !important;
    height: 20% !important;
  }
  
  
  @media only screen and (max-width: 767px){
  #drive-users omv-form-paragraph:nth-of-type(3) .omv-form-paragraph
  {
    width: 100% !important;
    height: 20% !important;
  }
  }
  
  a.plainLink{
    font-weight:bold;
  }
  a.plainLink:hover,a.plainLink:focus{
    background-color:$lightblue;
    color:white;
    padding:10px;
    text-decoration: none;
    font-weight:bold;
  }
  
  .mat-form-field input{
    
    width:50px !important;
  }
  .red{
    background-color:$lightred !important;
    
  }
  .white{
    color: white !important;
  }
  .hidden{
    display: none !important;
  }
  #navButtons{
    .mat-card{
        background-color:$blue!important;
    }
    mat-card-content{
        display:none!important;
    }
    .mat-card-actions{
        justify-content:flex-end!important;          
    } 
  }  
}



