@import '../../../../../../assets/colors.scss';

.omv-form-paragraph {
    font-size: var(--mat-font-size-subheading-2) !important;
  }
  #ios-drive-form2 omv-intuition-form .omv-form-container .omv-form-container-item:nth-of-type(5) omv-form-paragraph .omv-form-paragraph  
  {
    content: url('^./assets/images/iphone-1.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50%;
  }
  #ios-drive-form2 omv-intuition-form .omv-form-container .omv-form-container-item:nth-of-type(8) omv-form-paragraph .omv-form-paragraph
  {
    content: url('^./assets/images/iphone-3.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50%;
  }
  #ios-drive-form2 omv-intuition-form .omv-form-container .omv-form-container-item:nth-of-type(9) omv-form-paragraph .omv-form-paragraph
  {
    content: url('^./assets/images/iphone-4.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50%;
  }
  #ios-drive-form2 omv-intuition-form .omv-form-container .omv-form-container-item:nth-of-type(10) omv-form-paragraph .omv-form-paragraph
  {
    content: url('^./assets/images/iphone-5.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50%;
  }
  #ios-drive-form2 omv-intuition-form .omv-form-container .omv-form-container-item:nth-of-type(12) omv-form-paragraph .omv-form-paragraph
  {
    content: url('^./assets/images/iphone-6.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50%;
  }
  #ios-drive-form2 .omv-form-container{
    flex-direction:column;

  }
  .hidden{
    display:none !important;
  }
  
  .greenstatus{
    background-color:$lightgreen !important;
    width:30px !important;
  }
  .redstatus{
    background-color:$lightred !important;
    width:50px !important;
  }

  .drive-btn {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color:$lightblue;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid $lightblue;
    border-radius: 10px;
    display: flex;
    width: 10rem;
    height: 1rem;
    cursor: pointer;
    text-decoration: none;
}

#ios-drive-data-form .datatable-header{
  background-color:$lightblue !important;
  
}


#ios-drive-form2 .omv-form-divider
{

  padding: 15px 30px !important;
  background-color:$lightblue !important;
  color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 15rem !important;
  border: 1px solid $lightblue !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  font-size: var(--mat-font-size-subheading-2) !important;
  font-weight: var(--mat-font-weight-subheading-2) !important;
  
}

#ios-drive-form2 omv-form-divider{
  height: 80px !important;
}

#ios-drive-form2 .omv-form-divider .title{
    background-color: white!important;
    color:$lightblue!important;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: var(--mat-font-size-subheading-2) !important;
    font-size: var(--mat-font-size-subheading-2) !important;
}

#ios-drive-form2 .omv-form-divider .title:after {
    content: '\005E';  /* Caret symbol */
    float: right;
    font-weight: 500;
    font-size: 25px;
    margin-left: 8px;
    transition: transform .3s ease;
    width: 20px;
    height: 20px;
    display: flex;
    border: 1px solid $lightblue;
    justify-content: center; 
    background-color: $lightblue;
    color: white;
    border-radius: 10px;
}

/* For expanded state */
#ios-drive-form2 .omv-form-divider.expanded .title:after {
  transform: rotate(180deg);
}

/* Optional: Add hover state */
#ios-drive-form2 .omv-form-divider .title {
  cursor: pointer;
}

#ios-drive-form2 .omv-form-divider .title:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

#ios-drive-form2 .omv-form-container omv-form-text-input:nth-of-type(1) .mat-form-field input{
  background-color: $lightblue !important;
}

omv-drive-access-iphone-page .plainLink{
  font-weight:bold;
}
omv-drive-access-iphone-page .plainLink:hover,omv-drive-access-iphone-page .plainLink:focus{
  background-color:$lightblue;
  color:white;
  padding:10px;
  text-decoration: none;
  font-weight:bold;
}
