[Unit]
Description=Initializes OLED display to show system starting message
Before=basic.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/bash /sbin/run-init-display.sh


[Install]
WantedBy=basic.target
