@use 'sass:color';
@use 'scss/defaults/colors' as dc;
@import '../../../../assets/colors.scss';

:host {
  .background {
    content: url('^./assets/images/Homecloud_front.png');
    object-fit: contain;
    margin-top:18vh;
  }

  .topbar {
    height:18vh!important;  //Home cloud changes
    background-color: hsla(
      color.hue(dc.$omv-color-corporate-default),
      color.saturation(dc.$omv-color-corporate-default),
      color.lightness(dc.$omv-color-corporate-default),
      54%
    );
    backdrop-filter: blur(4px);

    .logo {
      content: url('^./assets/images/logo.svg');//Homecloud changes
      width: auto;
      height: auto;
    }
    /**Home cloud changes start */
    .title{
      margin-left:10px!important;
      font-size:1.5em!important;
      font-weight:bold!important;
      color:$blue!important;
      font-family:sans-serif!important;
      
    }       
    
    /**Home cloud changes end */
  }

  .icon,
  .icon-background {
    width: 4rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon-background {
    width: 5rem;
    height: 5rem;
  }
}
