/*Home cloud new component */

//$blue: rgb(62, 112, 155);
$blue:#192586;
$orange:#ff9d22;
$white: #ffff;
$green:#38dc35;
$lightblue:#5dacdf;
$lightred:#FF474c;
//$lightgreen:#90ee90;
$lightgreen:#4cd964;
$grey:#B2BEB5;
$black:#000000;
$yellow:#F8D400;
$sitesoftblue:#4A90E2;
$sitelightgray:#A4B0BE;
$sitenavyblue:#1A4C7A;
$siteemraldgreen:#0BAE88;
$sitesoftyellow:#F2C94C;
$sitecharcoal:#333333;
$sitewhite:#FFFFFF;
