@import '../../../../../../assets/colors.scss';


.omv-form-paragraph {
  font-size: var(--mat-font-size-subheading-2) !important;
}
omv-password-manager-backup-page omv-intuition-form omv-form-paragraph:nth-of-type(2) .omv-form-paragraph  
{
  content: url('^./assets/images/vaultwarden-backup-1.png');
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 70%;
}

omv-password-manager-backup-page .datatable-header{
  background-color:$lightblue !important;
  
}
