@import '../../../../../../assets/colors.scss';


.omv-dark-theme{
       
          h1,h2,h3{
          color:$lightblue !important;
          }
         
      }

omv-jellyfin-resetpassword-page{

  
          .red{
            background-color:$lightred !important;
            
          }
          .white{
            color: white !important;
          }
          #jellyfin-resetpassword-form1{
              
              .omv-form-paragraph{
              //padding:2rem;
              line-height: 1.5rem;
              }
    
          }
        
          .omv-form-paragraph,h2,p,li,h3 {
            font-size: var(--mat-font-size-subheading-2) !important;
          
          }
          .omv-form-paragraph,p,li {
            font-size: var(--mat-font-size-subheading-2) !important;
            font-weight:var(--mat-font-weight-subheading-2) !important;
          }
          h1{
            font-size: var(--mat-font-size-headline) !important;
          
          }
        
          
          h2,h1,h3 {
            color:$blue;
          }
    
          
          
          ul {
            list-style-type: disc;
            margin-left: 20px;
          }
    
          .hidden{
            display:none !important;
          }
          .plainLink{
            font-weight:bold;
          }
          .plainLink:hover,.plainLink:focus{
            background-color:$lightblue;
            color:white;
            padding:10px;
            text-decoration: none;
            font-weight:bold;
          }

          
          .lightblue{
            background-color: $lightblue!important;
          }

          .white{
            color: white!important;
          }

          .disabled-btn{
            pointer-events:none!important;
            background-color:$grey!important;
          }
          
          .status-error{
                  color:$lightred;
                  font-weight:bold;
          }
        .app-btn {
                margin-top: 10px;
                margin-bottom: 5px;
                background-color:$lightblue;
                color: white;
                font-weight: bold;
                padding: 15px 30px;
                justify-content: center;
                align-items: center;
                border: 1px solid $lightblue;
                border-radius: 10px;
                display: flex;
                width: 16rem;
                height: 1rem;
                cursor: pointer;
                text-decoration: none;
        }
        .hidden{
          display:none !important;
        }
      


}


  