
@import '../../../assets/colors.scss';

.omv-dark-theme{

  h1,h2,h3{
        color:$lightblue !important;
    }
  }
startconfiguration-main-page{

  #startconfiguration-main-form1{
    margin-bottom:-3rem;
  }
  omv-navigation-page{
     mat-card:hover,mat-card:focus{
      background-color: $lightblue !important;
      color: white !important   ;
      }

  }
 

  .omv-form-paragraph{
    padding:2rem;
  }

  .omv-form-paragraph,h2,p,li,h3 {
    font-size: var(--mat-font-size-subheading-2) !important;
   
  }
  .omv-form-paragraph,p,li {
    font-size: var(--mat-font-size-subheading-2) !important;
    font-weight:var(--mat-font-weight-subheading-2) !important;
  }
  h1{
    font-size: var(--mat-font-size-headline) !important;
   
  }
 
  
  h2,h1,h3 {
    color:$blue;
  }

  
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .plainLink{
    font-weight:bold;
  }
  .plainLink:hover,.plainLink:focus{
    background-color:$lightblue;
    color:white;
    padding:10px;
    text-decoration: none;
    font-weight:bold;
  }
  
}

