@import '../../../../../../assets/colors.scss';
.omv-form-paragraph {
  font-size: var(--mat-font-size-subheading-2) !important;
}
#window-drive-form2 omv-intuition-form omv-form-paragraph:nth-of-type(3) .omv-form-paragraph
{
  content: url('^./assets/images/windows-drive.jpg');
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 70%;
}
#window-drive-form2 omv-intuition-form omv-form-paragraph:nth-of-type(5) .omv-form-paragraph
{
  content: url('^./assets/images/windows-drive2.jpg');
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 70%;
}
.greenstatus{
  background-color:$lightgreen !important;
  width:30px !important;
}
.redstatus{
  background-color:$lightred !important;
  width:50px !important;
}
#window-drive-data-form .datatable-header{
  background-color:$lightblue !important;
  
}