@use 'scss/defaults/variables' as dv;
@import '../../../../assets/colors.scss';



.omv-dashboard-page-container {
  margin: dv.$omv-margin;

  .widgets-container {
    box-sizing: border-box;
    column-count: 1;
    column-gap: dv.$omv-margin * 0.5;
  }

  @media only screen and (width >= 600px) {
    .widgets-container {
      column-count: 2;
    }
  }

  @media only screen and (width >= 1280px) {
    .widgets-container {
      column-count: 3;
    }
  }

  @media only screen and (width >= 1920px) {
    .widgets-container {
      column-count: 4;
    }
  }

  .hotspot-status-container{
    margin-bottom:1rem;
    width:50%;
    .mat-card-title-group{
      justify-content: flex-start;
    }
    .hotspotStatus{
      background-color: $lightgreen;
      width:40%;
    }
  }
  @media only screen and (max-width: 768px) {
    .hotspot-status-container {
      width: 100%;
    }
  }
   .plainLink{
    font-weight:bold;
    text-decoration: underline;
    cursor: pointer;
  }
  .plainLink:hover,.plainLink:focus{
    background-color:$lightblue;
    color:white;
    padding:10px;
    text-decoration: none;
    font-weight:bold;

  }
  


}
